.result-pane > div {
    top: 57px;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.markdown h1 {
    margin: 2rem 0;
}

.markdown h2 {
    margin: 2rem 0;
}

.markdown p {
    margin: 2rem 0;
}

.markdown pre {
  margin: 2rem 0;
}

.markdown ul {
  margin-left: 2rem;
}

.markdown ul li {
  margin: 1rem 0;
}


.markdown a {
  color: #0000FF;
}